/* Fondo de la página */
ion-content {
  --background: none;
}

/* Estilos de la barra superior */
ion-toolbar {
  --background: #141826;
  --color: #bd955b;
}

/* Estilo para el encabezado del card */
ion-card-header {
  background-color: #141826;
  color: #bd955b;
}

/* Estilo del card principal */
.custom-card {
  background-color: #141826;
  --ion-card-background: #141826;
  --ion-text-color: #bd955b;
  border: 2px solid #bd955b; /* Borde alrededor del card */
  border-radius: 10px; /* Bordes redondeados */
  margin-top: 16px; /* Espaciado superior */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra para el card */
}

/* Card de comentarios con bordes */
.comment-card {
  background-color: #141826;
  --ion-card-background: #141826;
  --ion-text-color: #bd955b;
  margin-top: 16px;
  border-radius: 8px;
  border: 1px solid #bd955b; /* Borde más delgado para comentarios */
}

.post-comment-separator {
  border: none;
  border-top: 2px solid #bd955b; /* Color del separador */
  margin: 20px 0;  /* Espacio entre el post y los comentarios */
  opacity: 0.7; /* Un poco de transparencia */
}

/* Footer del comentario */
.comment-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 16px;
}

/* Nombre de usuario alineado a la izquierda */
.username {
  font-size: 0.9em;
  font-weight: bold;
  color: #bd955b;
}

/* Icono de eliminar alineado a la derecha */
.delete-icon {
  font-size: 1.2em;
  color: #ff3b30;
  cursor: pointer;
}

/* Cambiar el color de fondo de los botones */
.custom-button {
  --background: #141826;
  --color: #bd955b;
  --border-radius: 8px;
  --ion-button-hover-background: #384163;
}

/* Cambiar el color del FAB */
.custom-fab {
  --background: #bd955b;
  --color: #141826;
  --ion-fab-button-hover-background: #e0bc86;
}

/* Ajustar imagen del post */
.post-image {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 8px;
  border: 1px solid #bd955b; /* Agregar borde a la imagen */
}

.post-content-wrapper {
  display: flex;
  align-items: center;
}

.post-content-wrapper p {
  flex: 1;
  margin-right: 10px;
}

.copy-icon {
  font-size: 1.5rem;
  color: #bd955b; /* Mismo color que el resto de la app */
  cursor: pointer;
}

.copy-icon:hover {
  color: #f0a500; /* Cambia de color al pasar el ratón por encima */
}

/* Caja de comentario como overlay */
.comment-box-overlay {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #141826;
  padding: 16px;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.2);
  border-radius: 12px 12px 0 0;
  z-index: 100; /* Asegura que esté sobre todo el contenido */
  transform: translateY(100%); /* Oculta inicialmente */
  transition: transform 0.3s ease-in-out;
}

/* Cuando se muestra, deslízalo hacia arriba */
.comment-box-overlay.show {
  transform: translateY(0);
}

/* Contador de caracteres */
.char-counter {
  text-align: right;
  font-size: 0.8em;
  color: #888;
  margin-bottom: 8px;
}

.custom-fab ion-fab-button {
  --background: #bd955b; /* Cambiar el color de fondo del FAB */
  --color: #141826; /* Cambiar el color del icono dentro del FAB */
}