<ion-header class="ion-no-border">
  <ion-toolbar>
    <!-- <ion-title>signup</ion-title> -->
    <ion-buttons slot="start">
      <ion-back-button defaulthref="login" text="">
      </ion-back-button>
      </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content class="bg-color">

    <ion-card class="ion-no-margin">
      <ion-img src="../../../assets/images/logo.png"></ion-img>

        <ion-card-header>
            <ion-card-title>
              Registro
            </ion-card-title>
            <ion-card-subtitle>
              Llena el siguiente formulario para crear tu cuenta
              </ion-card-subtitle>
        </ion-card-header>
       <ion-card-content>
        <ion-item class="input">
          <ion-input label="username :" placeholder="nombre de usuario"[(ngModel)]="username" (blur)="onUsernameBlur()"  name="username"></ion-input>
          <ion-icon name="person-outline"></ion-icon>
        </ion-item>
        <p *ngIf="emailTouched && email.trim() === ''" class="error-text">
          El campo de correo no puede estar vacío.
        </p>
        <ion-item>
          <ion-input label="email :" placeholder="email@mail.com" class="input"[(ngModel)]="email"(blur)="onEmailBlur()" name="email"></ion-input>
          <ion-icon name="mail-outline"></ion-icon>
        </ion-item>
        <p *ngIf="emailTouched && !validarEmail(email) && email.trim() !== ''" class="error-text">
          Por favor ingrese un correo electrónico válido.
        </p>
        <p *ngIf="!validarEmail(email) && email.trim() !== ''" class="error-text">
          Por favor ingrese un correo electrónico válido.
        </p>
        <ion-item>
          <ion-input label="password :"[type]="showPassword ? 'text' : 'password'" placeholder="contraseña" [(ngModel)]="password" name="passwordInput" class="input"></ion-input>
          <ion-icon [name]="showPassword ? 'eye-outline' : 'eye-off-outline'" slot="end" (click)="togglePasswordVisibility()"></ion-icon>
        </ion-item>
        <ion-item>
          <ion-input label="password :"[type]="showPassword ? 'text' : 'password'" placeholder="escriba de nuevo la contraseña" [(ngModel)]="password2" name="passwordInput" class="input"></ion-input>
          <ion-icon [name]="showPassword ? 'eye-outline' : 'eye-off-outline'" slot="end" (click)="togglePasswordVisibility()"></ion-icon>
        </ion-item>
        <br />
        <p *ngIf="password !== password2 && password2.length > 0" class="error-text">
          Las contraseñas no coinciden, por favor vuelva a digitar las contraseñas.
        </p>
      <p *ngIf="!validarPassword(password) && password.length > 0" class="error-text">
        La contraseña debe tener al menos 8 caracteres, una mayúscula, un número y un carácter especial.
      </p>
      <br />
      
        <div class="sign-btn-wrap">
            <ion-button  shape="round" type="submit"  fill="solid" class="sign-btn" (click)="login()">Sign Up</ion-button>
        </div>
       </ion-card-content>
    </ion-card>

</ion-content>