<ion-header class="ion-no-border">
  <ion-toolbar>
    <!-- <ion-title>signup</ion-title> -->
    <ion-buttons slot="start">
      <ion-back-button defaulthref="login" text="">
      </ion-back-button>
      </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content class="bg-color">

    <ion-card class="ion-no-margin">
      <ion-img src="../../../assets/images/logo.png"></ion-img>

        <ion-card-header>
            <ion-card-title>
              Create a new account
            </ion-card-title>
            <ion-card-subtitle>
              Fill this form to create your account
              </ion-card-subtitle>
        </ion-card-header>
       <ion-card-content>
        <ion-item class="input">
          <ion-input label="username :" placeholder="nombre de usuario"[(ngModel)]="username"  name="username"></ion-input>
          <ion-icon name="person-outline"></ion-icon>
        </ion-item>
        <p *ngIf="username.trim() === ''" class="error-text">
          Username can´t be left blank
        </p>
        <ion-item>
          <ion-input label="email :" placeholder="email@mail.com" class="input"[(ngModel)]="email" name="email"></ion-input>
          <ion-icon name="mail-outline"></ion-icon>
        </ion-item>
        <p *ngIf="email.trim() === ''" class="error-text">
          Email cannot be left blank
        </p>
        <p *ngIf="!validarEmail(email) && email.trim() !== ''" class="error-text">
          Please use a valid email
        </p>
        <ion-item>
          <ion-input label="password :"[type]="showPassword ? 'text' : 'password'" placeholder="contraseña" [(ngModel)]="password" name="passwordInput" class="input"></ion-input>
          <ion-icon [name]="showPassword ? 'eye-outline' : 'eye-off-outline'" slot="end" (click)="togglePasswordVisibility()"></ion-icon>
        </ion-item>
        <ion-item>
          <ion-input label="password :"[type]="showPassword ? 'text' : 'password'" placeholder="escriba de nuevo la contraseña" [(ngModel)]="password2" name="passwordInput" class="input"></ion-input>
          <ion-icon [name]="showPassword ? 'eye-outline' : 'eye-off-outline'" slot="end" (click)="togglePasswordVisibility()"></ion-icon>
        </ion-item>
        <br />
        <p *ngIf="password !== password2 && password2.length > 0" class="error-text">
          Password don´t match. Try again
        </p>
      <p *ngIf="!validarPassword(password) && password.length > 0" class="error-text">
        Password must have at least 8 character, a number, an uppercase and a special character
      </p>
      <br />
      
        <div class="sign-btn-wrap">
            <ion-button  shape="round" type="submit"  fill="solid" class="sign-btn" (click)="login()">Sign Up</ion-button>
        </div>
       </ion-card-content>
    </ion-card>

</ion-content>