<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaulthref="login" text=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="bg-color">
  <ion-card class="ion-no-margin">
    <ion-img src="../../../assets/images/logo.png"></ion-img>

    <ion-card-header>
      <ion-card-title>Create a new account</ion-card-title>
      <ion-card-subtitle>Fill this form to create your account</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <form (submit)="register($event)">
        <!-- Campo de nombre de usuario -->
        <ion-item class="input">
          <ion-input
            placeholder="Username"
            [(ngModel)]="nombre_usuario"
            name="username"
            maxlength="15"
            (ionBlur)="validateUsername()">
          </ion-input>
          <ion-icon name="person-outline"></ion-icon>
        </ion-item>
        <p *ngIf="showUsernameError" class="error-text">
          {{ usernameTooLong ? 'Username cannot exceed 15 characters.' : "Username can't be left blank." }}
        </p>

        <!-- Campo de email -->
        <ion-item>
          <ion-input
            placeholder="email@mail.com"
            [(ngModel)]="email"
            name="email"
            maxlength="30"
            (ionBlur)="validateEmail()">
          </ion-input>
          <ion-icon name="mail-outline"></ion-icon>
        </ion-item>
        <p *ngIf="showEmailError" class="error-text">
          {{ emailTooLong ? 'Email cannot exceed 30 characters.' : !validEmail ? 'Please use a valid email.' : "Email can't be left blank." }}
        </p>

        <!-- Campo de contraseña -->
        <ion-item>
          <ion-input
            [type]="showPassword ? 'text' : 'password'"
            placeholder="Password"
            [(ngModel)]="password"
            name="passwordInput"
            maxlength="15"
            (ionBlur)="validatePassword()">
          </ion-input>
          <ion-icon [name]="showPassword ? 'eye-outline' : 'eye-off-outline'" slot="end" (click)="togglePasswordVisibility()"></ion-icon>
        </ion-item>
        <p *ngIf="showPasswordError" class="error-text">
          {{ passwordTooLong ? 'Password cannot exceed 15 characters.' : 'Password must have at least 8 characters, a number, an uppercase letter, and a special character.' }}
        </p>

        <!-- Campo para repetir contraseña -->
        <ion-item>
          <ion-input
            [type]="showConfirmPassword ? 'text' : 'password'"
            placeholder="Confirm password"
            [(ngModel)]="password2"
            name="passwordInput2"
            maxlength="15"
            (ionBlur)="validatePasswordMatch()">
          </ion-input>
          <ion-icon [name]="showConfirmPassword ? 'eye-outline' : 'eye-off-outline'" slot="end" (click)="toggleConfirmPasswordVisibility()"></ion-icon>
        </ion-item>
        <p *ngIf="showPasswordMatchError" class="error-text">
          Passwords do not match. Try again.
        </p>

        <!-- Seleccionar una pregunta de seguridad -->
<ion-item>
  <ion-label>Security Question</ion-label>
  <ion-select [(ngModel)]="securityQuestion" name="securityQuestion" placeholder="Select a question">
    <ion-select-option value="What is your mother's maiden name?">What is your mother's maiden name?</ion-select-option>
    <ion-select-option value="What was the name of your first pet?">What was the name of your first pet?</ion-select-option>
    <ion-select-option value="What was your first car?">What was your first car?</ion-select-option>
    <ion-select-option value="What elementary school did you attend?">What elementary school did you attend?</ion-select-option>
    <ion-select-option value="What is the name of the town where you were born?">What is the name of the town where you were born?</ion-select-option>
  </ion-select>
</ion-item>
<p *ngIf="showSecurityQuestionError" class="error-text">
  Please select a security question.
</p>

<!-- Campo para la respuesta de la pregunta de seguridad -->
<ion-item>
  <ion-input
    placeholder="Answer"
    [(ngModel)]="securityAnswer"
    name="securityAnswer"
    (ionBlur)="validateSecurityAnswer()">
  </ion-input>
  <ion-icon name="lock-closed-outline"></ion-icon>
</ion-item>
<p *ngIf="showSecurityAnswerError" class="error-text">
  Please provide an answer to your security question.
</p>

        

        <!-- Botón para registrarse -->
        <div class="sign-btn-wrap">
          <ion-button shape="round" type="submit" fill="solid" class="sign-btn">Sign Up</ion-button>
        </div>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
