<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaulthref="home" text=""></ion-back-button>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ usuario?.nombre_usuario }}'s Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Contenedor de la foto de perfil -->
  <div class="profile-header">
    <div class="avatar-container">
      <ion-avatar class="avatar">
        <img [src]="usuario?.foto_perfil || 'assets/img/default-profile.png'" alt="Foto de perfil" />
      </ion-avatar>
      <ion-icon name="camera" class="edit-icon" (click)="takePicture()"></ion-icon>
    </div>

    <ion-button expand="block" class="edit-profile-button" (click)="modperfil(usuario.id_usuario)">
      Modificar Perfil
    </ion-button>
  </div>

  <mat-tab-group class="custom-tab-group" mat-stretch-tabs="false" mat-align-tabs="center">
    <!-- Tab de Posts -->
    <mat-tab label="Posts">
      <ion-list *ngIf="posts.length > 0; else noPosts">
        <ion-card *ngFor="let post of posts">
          <ion-card-header>
            <ion-card-title>{{ post.titulo }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>{{ post.contenido }}</p>
          </ion-card-content>
        </ion-card>
      </ion-list>
      <ng-template #noPosts>
        <p>No post created yet.</p>
      </ng-template>
    </mat-tab>

    <!-- Tab de Guías -->
    <mat-tab label="Guides">
      <ion-list *ngIf="guias.length > 0; else noGuides">
        <ion-card *ngFor="let guia of guias">
          <ion-card-header>
            <ion-card-title>{{ guia.titulo }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>{{ guia.contenido }}</p>
          </ion-card-content>
        </ion-card>
      </ion-list>
      <ng-template #noGuides>
        <p>No guides created yet.</p>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</ion-content>
