ion-header {
  --background: #000000; /* Color de fondo del encabezado */
  --color: #bd955b; /* Color del texto del encabezado */
}

ion-content {
  background-image: url('../../../assets/images/background-1.jpeg'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh; 
}

.avatar {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  height: 15%;
  width: 25%;
}
.avatar ion-button {
  margin-left: auto;
  margin-right: auto;
}


mat-tab-group {
  ion-card {
    background-color: #141826; /* Color de fondo de las tarjetas */
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 16px;

    ion-card-title,
    ion-card-subtitle {
      color: #bd955b; /* Color del texto del título y subtítulo */
    }

    ion-card-content {
      color: #bd955b; /* Color del texto del contenido */
    }

    ion-button {
      --color: #141826; /* Color de los botones */
      margin-right: 8px;
    }
  }
}
