<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>perfil {{ usuario }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="profile-container">
    <ion-avatar class="profile-avatar">
      <ion-img src="assets/images/header1.png"></ion-img>
    </ion-avatar>
    <ion-button fill="clear" class="change-image-button" (click)="changeProfileImage()">
      <ion-icon name="camera-outline"></ion-icon>
    </ion-button>
  </div>

  <ion-button expand="block" color="danger" (click)="confirmLogout()">
    Cerrar sesión
  </ion-button>

  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="personajes"(click)="irPersonajes()">
        <ion-icon name="accessibility-sharp"></ion-icon>
        Personajes
      </ion-tab-button>
      <ion-tab-button tab="guias"(click)="irGuias()">
        <ion-icon name="book-sharp"></ion-icon>
        Guias
      </ion-tab-button>
      <ion-tab-button tab="home"(click)="irHome()">
        <ion-icon name="home-outline"></ion-icon>
        Home
      </ion-tab-button>
      <ion-tab-button tab="foro"(click)="irForo()">
        <ion-icon name="library"></ion-icon>
        Foro
      </ion-tab-button>
      <ion-tab-button tab="perfil"(click)="irPerfil()">
        <ion-icon name="person-sharp"></ion-icon>
        Perfil
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
