<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="marcarTodasComoLeidas()">
        Mark all as read
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-card *ngFor="let notificacion of notificaciones" class="notificacion-card">
      <ion-card-header>
        <ion-card-title>{{ notificacion.contenido }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>{{ notificacion.fecha_publicacion | date: 'short' }}</p>
        <div class="notificacion-botones">
          <ion-button
            *ngIf="notificacion.estado === 0"
            fill="clear"
            (click)="marcarComoLeida(notificacion.id_notificacion)"
          >
            Mark as read
          </ion-button>
          <ion-button fill="clear" (click)="eliminarNotificacion(notificacion.id_notificacion)">
            Delete
          </ion-button>
        </div>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
