<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaulthref="login" text=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding bg-color">
  <!-- Logo de la aplicación -->
  <div class="logo-container">
    <img src="../../../assets/images/logo.png" alt="App Logo" class="app-logo" />
  </div>

  <!-- Card centrado -->
  <ion-card class="recover-card">
    <ion-card-content>
      <!-- Formulario para enviar el código -->
      <form (ngSubmit)="enviarCodigo()">
        <ion-item>
          <ion-label position="stacked">Email Address</ion-label>
          <ion-input [(ngModel)]="email" name="email" type="email" required></ion-input>
        </ion-item>
        <div class="login-btn-wrap">
          <ion-button  shape="round" type="submit"  fill="solid" class="login-btn">
            Send Code
          </ion-button>
        </div>
      </form>

      <!-- Código de recuperación -->
      <form *ngIf="codigoEnviado" (ngSubmit)="verificarCodigo()">
        <ion-item>
          <ion-label position="stacked">Recovery Code</ion-label>
          <ion-input [(ngModel)]="codigo" name="codigo" type="text" required></ion-input>
        </ion-item>
        <div class="login-btn-wrap">
          <ion-button  shape="round" type="submit"  fill="solid" class="login-btn">
            Verify Code
          </ion-button>
        </div>
      </form>

      <!-- Nueva contraseña -->
      <form *ngIf="codigoVerificado" (ngSubmit)="restablecerContrasena()">
        <ion-item>
          <ion-label position="stacked">New Password</ion-label>
          <ion-input [(ngModel)]="nuevaContrasena" name="nuevaContrasena" type="password" required></ion-input>
        </ion-item>
        <div class="login-btn-wrap">
          <ion-button  shape="round" type="submit"  fill="solid" class="login-btn">
            Reset Password
          </ion-button>
        </div>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
