<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="login" text=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="bg-color">
  <div class="logo-container">
    <img src="../../../assets/images/logo.png" alt="App Logo" class="app-logo" />
  </div>
  <ion-card>
    <ion-card-content>
      <!-- Paso 1: Ingresar email -->
      <div *ngIf="currentStep === 1">
        <ion-item>
          <ion-input
            placeholder="Enter your email"
            [(ngModel)]="email"
            (ionBlur)="validateEmail()"
            maxlength="50"
          ></ion-input>
        </ion-item>
        <ion-note *ngIf="showEmailError" color="danger">{{ emailErrorMessage }}</ion-note>
        <ion-button expand="block" (click)="verifyEmail()">Next</ion-button>
      </div>

      <!-- Paso 2: Pregunta de seguridad -->
      <div *ngIf="currentStep === 2">
        <p>Your security question:</p>
        <ion-text class="security-question">{{ securityQuestion }}</ion-text>
        <ion-item>
          <ion-input
            placeholder="Your answer"
            [(ngModel)]="securityAnswer"
            (ionBlur)="validateSecurityAnswer()"
            maxlength="20"
          ></ion-input>
        </ion-item>
        <ion-note *ngIf="showSecurityAnswerError" color="danger">{{ securityAnswerErrorMessage }}</ion-note>
        <ion-button expand="block" (click)="verifySecurityAnswer()">Next</ion-button>
      </div>

      <!-- Paso 3: Restablecer contraseña -->
      <div *ngIf="currentStep === 3">
        <ion-item>
          <ion-input
            [type]="showPassword ? 'text' : 'password'"
            placeholder="New password"
            [(ngModel)]="newPassword"
            (ionBlur)="validatePassword()"
            maxlength="15"
          ></ion-input>
          <ion-button fill="clear" slot="end" (click)="togglePasswordVisibility()">
            <ion-icon [name]="showPassword ? 'eye-off' : 'eye'"></ion-icon>
          </ion-button>
        </ion-item>
        <ion-note *ngIf="showPasswordError" color="danger">{{ passwordErrorMessage }}</ion-note>

        <ion-item>
          <ion-input
            [type]="showConfirmPassword ? 'text' : 'password'"
            placeholder="Confirm password"
            [(ngModel)]="confirmPassword"
            (ionBlur)="validatePasswordMatch()"
            maxlength="15"
          ></ion-input>
          <ion-button fill="clear" slot="end" (click)="toggleConfirmPasswordVisibility()">
            <ion-icon [name]="showConfirmPassword ? 'eye-off' : 'eye'"></ion-icon>
          </ion-button>
        </ion-item>
        <ion-note *ngIf="showPasswordMatchError" color="danger">Passwords do not match.</ion-note>

        <ion-button expand="block" (click)="resetPassword()">Reset Password</ion-button>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
