<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Character Details
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Verificar si se ha cargado el personaje -->
  <ion-card *ngIf="character">
    <ion-img [src]="character.imgFull" alt="Full character image"></ion-img>
    <ion-card-header>
      <ion-card-title>{{ character.name }}</ion-card-title>
      <ion-card-subtitle>{{ character.country }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-icon name="copy-outline" class="copy-icon" (click)="copiarTexto()"></ion-icon>
      <p>{{ character.desc }}</p>
    </ion-card-content>
  </ion-card>
</ion-content>
