ion-toolbar {
  --background: #141826;
  --color: #bd955b; 
}


ion-header {
  --background: #141826; 
  --color: #bd955b; 
}
ion-content {
  --background: none;
  
    ion-toolbar {
      --background: #141826; 
      --color: #bd955b; 
    }
  
    ion-card {
      background-color: #141826; 
      color: #bd955b; 
      margin: 15px;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    }
  
    ion-card-header {
      background-color: #141826; 
      padding: 10px;
      border-bottom: 1px solid #bd955b;
    }
  
    ion-card-title {
      font-size: 1.5rem;
      font-weight: bold;
      color: #bd955b; 
    }
  
    ion-card-subtitle {
      font-size: 1rem;
      color: #bd955b; 
    }
  
    ion-card-content {
      padding: 15px;
      font-size: 1rem;
      color: #bd955b; 
      line-height: 1.5;
    }
  
  
  }
  