<ion-header>
  <ion-toolbar>
    <ion-title>{{ post.title }}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>

    <ion-buttons *ngIf="canDeletePost()" slot="end"> <!-- Delete button for admins/post creator -->
      <ion-button color="danger" (click)="confirmDeletePost()">
        <ion-icon name="trash-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{ post.titulo }}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <img *ngIf="post.imagen" [src]="post.imagen" alt="Post Image" style="width: 100%; height: auto;" />
      <p>{{ post.contenido }}</p>
    </ion-card-content>
  </ion-card>

  <!-- Comments section remains the same as before -->

</ion-content>


