<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Characters List
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <!-- Mostrar cada personaje en un ion-card -->
    <ion-card *ngFor="let character of characterList" (click)="goToDetails(character.id)">
      <ion-img [src]="character.img" alt="Character image"></ion-img>
      <ion-card-header>
        <ion-card-title>{{ character.name }}</ion-card-title>
      </ion-card-header>
    </ion-card>
  </ion-list>
</ion-content>