ion-content {
  --background: none;
}

ion-header {
  --background: #141826; 
  --color: #bd955b; 
}


ion-card {
  position: center;
  text-align: center;
  background-color: #141826; 
  border-radius: 8px;

  

  ion-card-title{
    color: #bd955b; 
  }

  
}