<ion-header  class="ion-no-border">
  <ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
  <br>
  <br>

  <ion-card class="ion-no-margin">
    <ion-img src="../../../assets/images/header2.png"></ion-img>
    <ion-card-header>
    <ion-card-title>
       OVERLORD CHHRONICLES
    </ion-card-title>  
    </ion-card-header>
  
    <ion-card-content>
      <div class="login-btn-wrap">
          <ion-button  shape="round" type="submit"  fill="solid" class="login-btn" (click)="login()">
           Login
          </ion-button>
        </div>
        <div class="sign-btn-wrap">
          <ion-button  shape="round" type="submit"  fill="solid" class="sign-btn" (click)="registro()">Registrate</ion-button>
         </div>
    </ion-card-content>
  
  </ion-card>
  
  </ion-content>