
ion-content{
    --ion-background-color:#141826 !important;
  }
  
  ion-toolbar{
    --ion-background-color: transparent;
    --opacity:0;
  }
  
  ion-card{
    background-color: transparent !important;
    padding: 0 !important;
  }
  
  
  
  ion-card-title{
    margin-top: 30px;
    font-size: 40px;
    color:#bd955b;
    text-align:center;
    font-weight: 600;
  }
  
  ion-card-subtitle{
    padding-top: 15px;
    font-size:11px;
    color:#bd955b;
    text-align: center;
    font-weight: 300;
  }
  
  ion-header{
    position: absolute;
  }
  
  ion-card{
    --ion-background-color:transparent;
  box-shadow: none !important;
  }
  
  .login-btn{
    margin-top: 35px;
    text-align: center;
    color:#bd955b;
  }
  
  .login-btn-wrap{
    text-align: center;
    padding-top: 45px;
   .login-btn{
     --ion-primary-color:#bd955b;
     --background:#bd955b;
     --background-activated:#E1EAF9;
     --background-focused:#E1EAF9;
     --background-hover:#647B9D;
     color:#F4F6FA;
     background-color: #bd955b;
     border-radius: 25px;
   }
  }
  .sign-btn-wrap{
    text-align: center;
    padding-top: 45px;
   .sign-btn{
     --ion-primary-color:#bd955b;
     --background:#bd955b;
     --background-activated:#E1EAF9;
     --background-focused:#E1EAF9;
     --background-hover:#647B9D;
     color:#F4F6FA;
     background-color: #bd955b;
     border-radius: 25px;
   }
 }
  
  .text-tag{
    margin-top: 40px;
    text-align: center;
    span{
      font-size: 13px;
      font-weight: normal;
      color:#bd955b;
    }
  }