/* Cambiar el color de fondo general de la página */
ion-content {
  background-color: #141826; /* Color de fondo deseado */
  --background: #323541;
}

ion-toolbar {
  --background: #141826;
  --color: #bd955b; 
}

/* Contenedor del formulario */
.form-container {
  margin-top: 20px;
}

/* Texto de información debajo de los campos */
.info-text {
  margin-top: 10px;
  font-size: 0.9em;
  color: #888;
  text-align: center;
}

/* Botón para guardar cambios */
.save-button {
  margin-top: 20px;
  --background: #bd955b;
  --color: #141826;
  --ion-button-hover-background: #e0bc86;
  border-radius: 8px;
}

/* Estilo del botón para cambiar contraseña */
.change-password-wrap {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.change-password-btn {
  --background: #bd955b;
  --color: #141826;
  --ion-button-hover-background: #e0bc86;
  border-radius: 8px;
  width: 80%;
}