ion-card {
    width: 100%;
    max-width: 500px;
    margin-bottom: 16px;
    background-color: #141826; 
    border-radius: 8px;
    padding: 16px;

    ion-label {
      color: #bd955b; 
      margin-bottom: 8px;
    }

    ion-input {
      width: 100%;
      --background: #141826; 
      --placeholder-color: #bd955b; 
      --padding-start: 16px;
      --padding-end: 16px;
    }
  }
.card1{
  background-color: #141826; 
}
.sign-btn-wrap{
  text-align: center;
  padding-top: 45px;
 .sign-btn{
   --ion-primary-color:#bd955b;
   --background:#bd955b;
   --background-activated:#141826;
   --background-focused:#141826;
   --background-hover:#647B9D;
   color:#141826;
   background-color: #bd955b;
   border-radius: 25px;
 }}