<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Modify your profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="bg-color">

    <ion-card class="titulo">
      <br>
      <ion-label>Modify your profile </ion-label>

       <ion-card-content class="card1">
        <ion-item>
          <ion-label>Insert new username</ion-label>
        </ion-item>
        <ion-item class="input">
          <ion-input placeholder="nombre de usuario"[(ngModel)]="username"name="username"></ion-input>
          <ion-icon name="person-outline"></ion-icon>
        </ion-item>
        <br>
        <ion-item>
          <ion-label>Insert new email</ion-label>
        </ion-item>
        <ion-item>
          <ion-input placeholder="email@mail.com" class="input"[(ngModel)]="email"name="email"></ion-input>
          <ion-icon name="mail-outline"></ion-icon>
        </ion-item>

      <br />
      <div class="sign-btn-wrap">
        <ion-button  shape="round" type="submit"  fill="solid" class="sign-btn" (click)="cambiarpass()">Change password</ion-button>
    </div>
      
        <div class="sign-btn-wrap">
            <ion-button  shape="round" type="submit"  fill="solid" class="sign-btn" (click)="guardar()">Save changes</ion-button>
        </div>
       </ion-card-content>
    </ion-card>

</ion-content>
