ion-header{
    position: absolute;
  }
  
  ion-toolbar{
    --ion-background-color: transparent;
    --opacity: 0;
  }
  
  ion-content{
    --ion-background-color:#141826 !important;
    --ion-item-background: transparent !important;
  }

  ion-item {
    color:#bd955b;
  --border-color: #bd955b;
  --highlight-color-focused:#bd955b;
  --padding-start:0;
  --inner-padding-end:0;
    font-size: 12px;
     ion-input{
       color:#bd955b;
     }
    ion-icon{
      padding-right: 6px;
      font-size: 18px;
    }
    ion-input:hover{
      color: #bd955b;
    }
}
.cambiarcontra{
    text-align: right;
    ion-button{
      font-size: 12px;
      color: #bd955b;
    }
  }

.sign-btn-wrap{
      text-align: center;
      padding-top: 45px;
     .sign-btn{
       --ion-primary-color:#bd955b;
       --background:#bd955b;
       --background-activated:#E1EAF9;
       --background-focused:#E1EAF9;
       --background-hover:#647B9D;
       color:#F4F6FA;
       background-color: #bd955b;
       border-radius: 25px;
     }
   }
 
ion-card{
  --ion-background-color: transparent !important;
    box-shadow: none !important;
    background-color: transparent !important;
}

 .ion-card-footer{
    width: 100%;
    height: 40px;
    align-items: center;
    justify-content: center;
    display: flex;
  
    span{
    color: #85888D;
    font-size: 12px;
    font-weight: 200;
    }
  
    button{
       background-color: transparent;
       font-size: 14px;
       font-weight: 600;
       padding-left: 3px;
       color: #bd955b;
  
    }
  
    button:hover{
      color: #969393;
    }
  }