
<ion-header class="ion-no-border">
  <ion-toolbar>
    <!-- <ion-title>loginscreen</ion-title> -->
  </ion-toolbar>
  <ion-buttons slot="start">
  <ion-back-button defaulthref="inicio" text=""></ion-back-button>
  </ion-buttons>
</ion-header>

<ion-content>
    <ion-card class="ion-no-margin">
      <ion-img src="../../../assets/images/header2.png"></ion-img>
      <ion-card-content>

        <form>
          <div class="ion-padding">
            <ion-item>
              <ion-input placeholder="usuario" [(ngModel)]="username"name="username"></ion-input>
              <ion-icon name="person-outline"></ion-icon>
            </ion-item>
            <p *ngIf="username.trim() === ''" class="error-text">
              El campo de usuario no puede estar vacío.
            </p>
            <ion-item>
              <ion-input [type]="showPassword ? 'text' : 'password'" placeholder="contraseña" [(ngModel)]="password" name="passwordInput" ></ion-input>
              <ion-icon [name]="showPassword ? 'eye-outline' : 'eye-off-outline'" slot="end" (click)="togglePasswordVisibility()"></ion-icon>
            </ion-item>
            <p *ngIf="password.trim() === ''" class="error-text">
              El campo de usuario no puede estar vacío.
            </p>
      
            <div class="cambiarcontra">
              <a (click)="cambiar()">Olvidaste tu contraseña?</a>
            </div>
            <div class="sign-btn-wrap">
              <ion-button  shape="round" type="submit"  fill="solid" class="sign-btn" (click)="login()">Iniciar sesion</ion-button>
             </div>
          </div>
        </form>
      </ion-card-content>
    </ion-card>


    <div class="ion-card-footer">
     <span>No tienes una cuenta?</span><button class="ion-no-padding" (click)="registro()" >Registrate!!</button>
      </div>

</ion-content>