ion-header {
  --background: #141826; 
  --color: #bd955b; 
}
ion-card-title{
    --background: #141826;
    --color: #bd955b;
  }
  ion-toolbar {
    --background: #141826; 
    --color: #bd955b; 
  }
  
  ion-card {
    background-color:#141826;
    color: #bd955b; 
  }
  
  ion-button {
    --background: #bd955b; 
    --color: #141826; 
  }

  ion-card-subtitle {
    --background: #141826; 
    --color: #bd955b;
  }
  
  ion-footer {
    --background: #bd955b; 
    padding: 10px;
  }
  