<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Guides</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <!-- Loop through posts and display them in ion-card -->
    <ion-card *ngFor="let guia of guias">
      <ion-card-header>
        <ion-card-title>{{ guia.titulo }}</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <img *ngIf="guia.imagen" [src]="guia.imagen" alt="guia Image" style="width: 100%; height: auto;" />
      <p>{{ guia.contenido }}</p>
        <p><small>Posted on: {{ guia.fecha_publicacion }}{{ guia.id_guias }}</small></p>
        <ion-button (click)="goToGuide(guia)" fill="outline">Ver Guia</ion-button> 
        <ion-buttons slot="end">
          <ion-button color="danger" (click)="deleteGuide(guia.id_guias)">
            <ion-icon name="trash"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-card-content>
    </ion-card>

    <!-- Message if no posts exist -->
    <p *ngIf="guias.length === 0">No guide available.</p>
  </ion-list>

  <!-- Floating action button to create a new post -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="createGuide()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>