
  <ion-tabs>
    <ion-tab-bar slot="bottom" >
      <ion-tab-button tab="personajes" (click)="irPersonajes()">
        <ion-icon name="accessibility-sharp"></ion-icon>
        <ion-label>Personajes</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="guias" (click)="irGuias()">
        <ion-icon name="book-sharp"></ion-icon>
        <ion-label>Guías</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="foro" (click)="irForo()">
        <ion-icon name="library"></ion-icon>
        <ion-label>Foro</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="perfil" (click)="irPerfil()">
        <ion-icon name="person-sharp"></ion-icon>
        <ion-label>Perfil</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
