<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/profile"></ion-back-button>
    </ion-buttons>
    <ion-title>Change Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="password-card">
    <ion-card class="custom-card">
      <form (submit)="changePassword()">
        <!-- Input for the new password -->
        <ion-item class="custom-item">
          <ion-input
            [type]="showPassword ? 'text' : 'password'"
            placeholder="New Password"
            [(ngModel)]="newPassword"
            name="passwordInput"
          ></ion-input>
          <ion-icon
            [name]="showPassword ? 'eye-outline' : 'eye-off-outline'"
            slot="end"
            (click)="togglePasswordVisibility()"
          ></ion-icon>
        </ion-item>

        <!-- Input for confirming the new password -->
        <ion-item class="custom-item">
          <ion-input
            [type]="showConfirmPassword ? 'text' : 'password'"
            placeholder="Confirm Password"
            [(ngModel)]="confirmPassword"
            name="passwordInput"
          ></ion-input>
          <ion-icon
            [name]="showConfirmPassword ? 'eye-outline' : 'eye-off-outline'"
            slot="end"
            (click)="toggleConfirmPasswordVisibility()"
          ></ion-icon>
        </ion-item>

        <!-- Password rules -->
        <ion-text color="medium">
          <p>Your new password must:</p>
          <ul>
            <li>Be different from your current password.</li>
            <li>Contain at least one uppercase letter.</li>
            <li>Contain at least one number.</li>
            <li>Contain at least one special character.</li>
            <li>Be at least 8 characters long.</li>
          </ul>
        </ion-text>

        <!-- Button to submit the form -->
        <div class="button-wrapper">
          <ion-button type="submit" class="small-button">Change Password</ion-button>
        </div>
      </form>
    </ion-card>
  </div>
</ion-content>
