/* Cambiar el color de fondo general de la página */
ion-content {
  --background: none;
}

ion-toolbar {
  --background: #141826;
  --color: #bd955b; 
}



.password-card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.custom-card {
  background-color: #141826; /* Color de fondo del card */
  border-radius: 20px; /* Bordes redondeados */
  border: 2px solid #bd955b; /* Color del borde */
  padding: 20px;
  max-width: 400px;
  width: 100%;
}

.custom-item {
  color:#bd955b;
  --border-color: #bd955b;
  --highlight-color-focused:#bd955b;
  --background: #141826;
  --padding-start:0;
  --inner-padding-end:0;
    font-size: 12px;
     ion-input{
       color:#bd955b;
     }
    ion-icon{
      padding-right: 6px;
      font-size: 18px;
    }
    ion-input:hover{
      color: #bd955b;
    }
}

.icon-large {
  font-size: 1.8rem; /* Tamaño del icono */
}

.button-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.small-button {
  --padding-start: 12px;
  --padding-end: 12px;
  --padding-top: 6px;
  --padding-bottom: 6px;
  --border-radius: 20px;
  font-size: 0.9rem;
  --ion-primary-color:#bd955b;
       --background:#bd955b;
       --background-activated:#E1EAF9;
       --background-focused:#E1EAF9;
       --background-hover:#647B9D;
       color:#141826;
       background-color: #bd955b;
       border-radius: 25px;
}