<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Change Password</ion-title>
  </ion-toolbar>
</ion-header>

<!-- Se añade scrollPadding para que el contenido no se corra con el teclado -->
<ion-content class="ion-padding" >
  <div class="password-card">
    <ion-card class="custom-card">
      <form (submit)="changePassword()">
        <!-- Input para la nueva contraseña -->
        <ion-item class="custom-item">
          <ion-input
            [type]="showPassword ? 'text' : 'password'"
            placeholder="New Password"
            [(ngModel)]="newPassword"
            maxlength="15"
            name="passwordInput"
            required
            (ngModelChange)="validarPasswords()"
          ></ion-input>
          <ion-icon
            [name]="showPassword ? 'eye-outline' : 'eye-off-outline'"
            slot="end"
            (click)="togglePasswordVisibility()"
          ></ion-icon>
        </ion-item>
        <ion-text color="danger" *ngIf="newPasswordVacia">Password cannot be empty</ion-text>
        <ion-text color="danger" *ngIf="passwordLarga">Password cannot exceed 15 characters</ion-text>

        <!-- Input para confirmar la nueva contraseña -->
        <ion-item class="custom-item">
          <ion-input
            [type]="showConfirmPassword ? 'text' : 'password'"
            placeholder="Confirm Password"
            [(ngModel)]="confirmPassword"
            maxlength="15"
            name="confirmPasswordInput"
            required
            (ngModelChange)="validarPasswords()"
          ></ion-input>
          <ion-icon
            [name]="showConfirmPassword ? 'eye-outline' : 'eye-off-outline'"
            slot="end"
            (click)="toggleConfirmPasswordVisibility()"
          ></ion-icon>
        </ion-item>
        <ion-text color="danger" *ngIf="confirmPasswordVacia">Password confirmation cannot be empty</ion-text>
        <ion-text color="danger" *ngIf="passwordsNoCoinciden">Passwords do not match</ion-text>
        <ion-text color="medium">
          <p>Your new password must:</p>
          <ul>
            <li>Be different from your current password.</li>
            <li>Contain at least one uppercase letter.</li>
            <li>Contain at least one number.</li>
            <li>Contain at least one special character.</li>
            <li>Be at least 8 characters long.</li>
          </ul>
        </ion-text>
        <!-- Botón para cambiar la contraseña -->
        <div class="button-wrapper">
          <ion-button type="submit" expand="block" class="small-button">Change Password</ion-button>
        </div>
      </form>
    </ion-card>
  </div>
</ion-content>
