ion-header {
  --background: #141826; 
  --color: #bd955b; 
}
.content-centered {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 16px;
    min-height: 100vh;
    background-color: #141826; 
  
    ion-card {
      width: 100%;
      max-width: 500px;
      margin-bottom: 16px;
      background-color: #141826; 
      border-radius: 8px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      padding: 16px;
  
      ion-label {
        color: #bd955b;
        margin-bottom: 8px;
      }
  
      ion-input {
        width: 100%;
        --background: #141826; 
        --placeholder-color: #bd955b; 
        --padding-start: 16px;
        --padding-end: 16px;
      }
    }

  .sign-btn-wrap{
    text-align: center;
    padding-top: 45px;
   .sign-btn{
     --ion-primary-color:#bd955b;
     --background:#bd955b;
     --background-activated:#E1EAF9;
     --background-focused:#E1EAF9;
     --background-hover:#647B9D;
     color:#F4F6FA;
     background-color: #bd955b;
     border-radius: 25px;
   }
 }
}