<ion-header [translucent]="true">
  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Create new post</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-item>
      <ion-label>Título</ion-label>
      <ion-input [(ngModel)]="titulo" placeholder="Escriba un título para el post"></ion-input>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-label>Post</ion-label>
      <ion-textarea [(ngModel)]="contenido" placeholder="Escriba el contenido del post"></ion-textarea>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-label>Imagen</ion-label>
      <ion-button expand="block" (click)="takePicture()">Subir Imagen</ion-button>
      <img *ngIf="imagen" [src]="imagen" alt="Sin imagen" style="height: 250px;width: 250px;" />
    </ion-item>
  </ion-card>

  <div class="sign-btn-wrap">
    <ion-button shape="round" expand="block" fill="solid" (click)="createPost()">Crear Post</ion-button>
  </div>
</ion-content>

