/* Cambiar el color de fondo general de la página */
ion-content {
  background-color: #141826; /* Color de fondo deseado */
  --background: #323541;
}

ion-toolbar {
  --background: #141826;
  --color: #bd955b; 
}


ion-card-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

ion-label {
  font-size: 1.1em;
  margin-bottom: 8px;
  color: #bd955b;
}

/* Estilo para los inputs */
ion-input, ion-textarea {
  width: 100%;
  margin-bottom: 8px;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 8px;
}

/* Contador de caracteres */
.char-counter {
  font-size: 0.8em;
  color: #888;
  margin-top: -8px;
  margin-bottom: 8px;
}

/* Estilo para la imagen */
.image-container {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.image-container img {
  height: 250px;
  width: 250px;
  object-fit: cover;
  border-radius: 8px;
}

ion-button{
  background-color: #141826; 
  color: #bd955b;
}

/* Botón fijo para crear el post */
.create-post-btn {
  position: fixed;
  background-color: #141826; 
  color: #bd955b;
  bottom: 16px; /* Espacio desde el borde inferior */
  left: 50%; /* Alinear horizontalmente */
  transform: translateX(-50%); /* Centrar el botón */
  width: 90%; /* Ocupar el 90% del ancho de la pantalla */
  max-width: 400px; /* Limitar el ancho máximo del botón */
  z-index: 100; /* Asegurar que esté sobre otros elementos */
}


