<ion-header [translucent]="true">
  <ion-toolbar > 
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Foro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="foro-background">
  <ion-header collapse="condense">
    <ion-toolbar> 
      <ion-title size="large">Foro</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header class="header">
      <ion-card-title>Foro!!</ion-card-title>
      <ion-card-subtitle>Revisa las últimas novedades de la comunidad!!!</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-card-subtitle>nombre usuario</ion-card-subtitle>
      <img alt="Silhouette of mountains" src="../../../assets/images/publicacion1.png" />
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content>
    <span class="example-spacer"></span>
    <ion-button fill="clear" color="primary" (click)="irpost()">Ir al post</ion-button>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example delete icon">
      <mat-icon>delete</mat-icon>
    </button>
  </ion-card>
    <hr>
    <ion-card>
    <ion-card-content>
      <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content>
    <span class="example-spacer"></span>
    <ion-button fill="clear" color="primary">Ir al post</ion-button>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example delete icon">
      <mat-icon>delete</mat-icon>
    </button>
  </ion-card>
    <hr>
    <ion-card>
    <ion-card-content>
      <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content>
    <span class="example-spacer"></span>
    <ion-button fill="clear" color="primary">Ir al post</ion-button>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example delete icon">
      <mat-icon>delete</mat-icon>
    </button>
    <hr>
    
  </ion-card>

</ion-content>

<ion-footer>
  <ion-button (click)="crear()">Crear post</ion-button>
</ion-footer>
