.home-page {
  --background: none; 
  background-image: url('../../assets/images/background-1.jpeg'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh; 
  color: #141826; 
}

ion-toolbar {
  --background: #141826;
  --color: #bd955b; 
}
ion-card-title{
  background-color: #141826;
  color: #bd955b;
}

ion-card-subtitle{
  background-color: #141826; 
  color: #bd955b;
}

ion-card {
  background-color: #141826; 
  color: #bd955b;
}
ion-card-content{
  background-color: #141826; 
  color: #bd955b;
}

ion-button{
  background-color: #141826; 
  color: #bd955b;
}

ion-tab-bar {
  --background: #141826; 
  --color: #bd955b; 
}
