<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>

   <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="personajes"(click)="irPersonajes()">
        <ion-icon name="accessibility-sharp"></ion-icon>
        Personajes
      </ion-tab-button>
      <ion-tab-button tab="guias"(click)="irGuias()">
        <ion-icon name="book-sharp"></ion-icon>
        Guias
      </ion-tab-button>
      <ion-tab-button tab="home"(click)="irHome()">
        <ion-icon name="home-outline"></ion-icon>
        Home
      </ion-tab-button>
      <ion-tab-button tab="foro"(click)="irForo()">
        <ion-icon name="library"></ion-icon>
        Foro
      </ion-tab-button>
      <ion-tab-button tab="perfil"(click)="irPerfil()">
        <ion-icon name="person-sharp"></ion-icon>
        Perfil
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
