<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
    
    <!-- Bell Icon for Notifications -->
    <ion-button slot="end" fill="clear" (click)="goToNotifications()">
      <ion-icon
        name="notifications"
        [color]="unreadNotifications ? 'danger' : 'medium'">
      </ion-icon>
    </ion-button>
    <ion-button slot="end" fill="clear" id="click-trigger" (click)="irPerfil()">
      <ion-avatar>
        <img [src]="usuario.foto_perfil" />
      </ion-avatar>
    </ion-button>
    <!-- Profile Avatar -->
  </ion-toolbar>
</ion-header>




<ion-content class="ion-padding">
  <ion-card >
    <ion-card-header>
      <ion-card-title>Latest Posts</ion-card-title>
      
    </ion-card-header>

    <ion-card-content *ngIf="latestPosts.length === 0" >
      <p>No posts available.</p>
    </ion-card-content>

    <ion-list *ngIf="latestPosts.length > 0" >
      <ion-item *ngFor="let post of latestPosts" >
        <ion-card>
          <ion-card-header>
            <ion-card-title>{{ post.titulo }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <img *ngIf="post.imagen" [src]="post.imagen" alt="Post Image" style="width: 100%; height: auto;" />
              <p>{{ post.contenido }}</p>
              <ion-button (click)="goToPost(post)" fill="clear">Ver Post</ion-button> 
          </ion-card-content>
        </ion-card>
      </ion-item>
    </ion-list>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Latest Guides</ion-card-title>
    </ion-card-header>

    <ion-card-content *ngIf="latestGuides.length === 0">
      <p>No guides available.</p>
    </ion-card-content>

    <ion-list *ngIf="latestGuides.length > 0">
      <ion-item *ngFor="let guias of latestGuides">
        <ion-card>
          <ion-card-header>
            <ion-card-title>{{ guias.titulo }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <img *ngIf="guias.imagen" [src]="guias.imagen" alt="guias Image" style="width: 100%; height: 75%;" />
              <p>{{ guias.contenido }}</p>
              <ion-button (click)="goToGuide(guias)" fill="clear">Ver Guia</ion-button> 
          </ion-card-content>
        </ion-card>
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>

