<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-select [(ngModel)]="filter" (ionChange)="applyFilter()" slot="end" placeholder="Filter Users">
      <ion-select-option value="admins">Administrators</ion-select-option>
      <ion-select-option value="normal">Normal Users</ion-select-option>
      <ion-select-option value="blocked">Blocked Users</ion-select-option>
    </ion-select>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true">
  <ion-list>
    <ion-card *ngFor="let user of filteredUsers" class="user-card">
      <ion-card-header class="user-header">
        <ion-avatar>
          <ion-img [src]="user.foto_perfil" alt="User Profile"></ion-img>
        </ion-avatar>
      </ion-card-header>
      <ion-card-content>
        <p>ID: {{ user.id_usuario }}</p>
        <p>Username: {{ user.nombre_usuario }}</p>
        <p>Email: {{ user.email }}</p>
      </ion-card-content>
      <div class="action-buttons" *ngIf="filter !== 'blocked'">
        <ion-button *ngIf="user.id_rol === 2" (click)="makeAdmin(user.id_usuario)">Make Admin</ion-button>
        <ion-button (click)="confirmBlockUser(user.id_usuario)">Block User</ion-button>
      </div>
      <div class="action-buttons" *ngIf="filter === 'blocked'">
        <ion-button (click)="unblockUser(user.id_usuario)">Unblock User</ion-button>
      </div>
    </ion-card>
  </ion-list>
</ion-content>
