<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>administrar perfiles</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <!-- Loop through users and display them with ion-item-sliding -->
    <ion-item-sliding *ngFor="let user of users">
      <ion-item>
        <ion-label>
          <h2>{{ user.nombre_usuario }}</h2>
          <p>{{ user.email }}</p>
        </ion-label>
      </ion-item>

      <!-- Sliding options with delete button -->
      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="confirmDeleteUser(user.id_usuario)">
          Delete
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <!-- Message if no users exist -->
  <p *ngIf="users.length === 0">No users available.</p>
</ion-content>


