ion-header {
    background-image: url('../../../assets/images/fondo.jpg') ;
    --background: #4a90e2; 
    --color: #bd955b; 
  }
  
  ion-content {
    --background: #f0f0f5;
  }
  
  ion-item-sliding {
    --min-height: 60px;
  }
  
  h2 {
    font-size: 1.2em;
  }
  
  p {
    font-size: 0.9em;
    color: #666;
  }